#Content {
	font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    overflow:auto;
    height:100%;
	width: 100%;
}

.alert{
	vertical-align: middle;
	font-size: 46px;
}

.layer{
	height: 100px;
}

html, body {
	height: 100%;
	width: 100%;
}

body{
	background-color: #5252523d
}

#input{
	font-size: 26px;
    background: #1d2124;
    outline: 0;
    color: #dee2e6;
}

.foot{
	font-size: 10px;
	font-weight: lighter;
	color: #ffffff;
	position: absolute;
	bottom: 0px;
	width: 100%
}