#Content {
	font-family: Arial, Helvetica, sans-serif;
    background-color: #e9ecef;
    padding: 10px;
    text-align: center;
}

#input{
	font-size: 26px;
    background: #1d2124;
    outline: 0;
    color: #dee2e6;
}

p {
	background-color: white;
    border-top: 1px solid #8e8e8e;
}

.output{
	padding-bottom: 10px;
	margin-top: 10px
}

.error{
	color: #e12339;
}

.converstion{
	padding: 8px;
}

.updates{
	padding: 8px;
	text-align: left;
}

.decimal{
	font-size: 0.68em;
	padding-left: 6px;
    vertical-align: top;
}

.heading{
	font-size: 16px;
    font-family: monospace;
}

.solution{
	font-size: 18px;
}

.rem-1{color: green}
.rem--1{color: red}
.rem-0, rem--0, rem-NaN{color: blue}

.foot{
	font-size: 10px;
	font-weight: lighter;
	color: grey;
}

.button {
	line-height: 26px;
	margin: 4px 0px 2px 4px;
}

.inputBox {
	margin-top: 10px;
	border: none; 
	background: transparent; 
	outline: 0;
}